- 順序特徴量のマッピング
- 名義特徴量の変換

In [10]:
import pandas as pd

df = pd.DataFrame([
    ['Cola', 'S'],
    ['Cola', 'M'],
    ['Green Tea', 'L'],
    ['Milk', 'M'],
], columns=['drink', 'size'])

In [11]:
df.head()

       drink size
0       Cola    S
1       Cola    M
2  Green Tea    L
3       Milk    M

## 順序特徴量のマッピング
- 整数値に値を変換する

In [12]:
size2int = {'S': 0, 'M': 1, 'L': 2}
df['size'] = df['size'].map(size2int)
df.head()

       drink  size
0       Cola     0
1       Cola     1
2  Green Tea     2
3       Milk     1

In [6]:
df['size'].unique()

array(['S', 'M', 'L'], dtype=object)

## 名義特徴量のマッピング
- 整数値に値を変換する

In [13]:
from sklearn.preprocessing import LabelEncoder

encoder = LabelEncoder()
df['drinkLabel'] = encoder.fit_transform(df['drink'])
df.head()

       drink  size  drinkLabel
0       Cola     0           0
1       Cola     1           0
2  Green Tea     2           1
3       Milk     1           2

- 名義尺度であるdrinkに順序関係は無いので、LabelEncoderをすると間違った解釈がなされる
    - one-hotエンコーディングを行うのが良い

In [14]:
pd.get_dummies(df)

   size  drinkLabel  drink_Cola  drink_Green Tea  drink_Milk
0     0           0           1                0           0
1     1           0           1                0           0
2     2           1           0                1           0
3     1           2           0                0           1